<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="jq-paginator.min.js"></script>
    <title>pf_index</title>
</head>
<body>
<div class="container-fluid">
    <h3>
        ECR <small> admin:<span th:text="${session.userName}"></span>&nbsp;&nbsp;<span th:text="${session.epfoNow}"></span></small>
    </h3>
    <div class="page-header">

        <ul class="nav nav-pills">
            <li role="presentation"><a href="/ecr6ReturnFiling">ECR/RETURN FILING</a></li>
            <li class="active" role="presentation"><a href="/ecr6Payment">PAYMENT（ECR）</a></li>

            <li role="presentation"><a href="/txtpdf2pf4ecr">matching-txtpdf2pf4ecr</a></li>
            <li role="presentation"><a href="/pdfpdf2pf4challans">matching-pdfpdf2pf4challans</a></li>
            <li role="presentation"><a href="/e2txt">upload-e2txt4upecr</a></li>
            <li role="presentation"><a href="/e2ecr4pdf">upload-e2ecr4pdf</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">ECR Home Page</a></li>
                <li><a href="#">ECR Upload</a></li>
                <li class="active">ECR Challan List</li>
            </ol>
            <div class="panel panel-info">
                <div class="panel-heading">Recent Challans:</div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover table-bordered" id="recentChallanesForEpfo">
                        <thead>
                        <tr>
                            <th>TRRN</th>
                            <th>Wage Month</th>
                            <th>ECR Type</th>
                            <th>Upload Date</th>
                            <th>Status</th>
                            <th>A/C 1</th>
                            <th>A/C 2</th>
                            <th>A/C 10</th>
                            <th>A/C 21</th>
                            <th>A/C 22</th>
                            <th>Total Amt.</th>
                            <th>CRN</th>
                            <th>Challan Receipt</th>
                            <th>Payment Receipt</th>
                        </tr>
                        </thead>
                        <tbody  th:if="${data != null}">
                        <tr th:each="data,dataStat:${data.getContent()}">
                            <td th:text="${data.trrn}"></td>
                            <td th:text="${data.wageMonth}"></td>
                            <td th:text="${data.ecrType}"></td>
                            <td th:text="${data.uploadDate}"></td>
                            <td th:text="${data.status}"></td>
                            <td th:text="${data.recentChallans.AC1}"></td>
                            <td th:text="${data.recentChallans.AC2}"></td>
                            <td th:text="${data.recentChallans.AC10}"></td>
                            <td th:text="${data.recentChallans.AC21}"></td>
                            <td th:text="${data.recentChallans.AC22}"></td>
                            <td th:text="${data.recentChallans.totalAmt}"></td>
                            <td th:text="${data.recentChallans.CRN}"></td>
                            <td><button type="button" class="btn btn-link" th:onclick="downloadClick('123',[[${data.recentChallans.challanReceiptPath}]])">challan</button></td>
                            <td><button type="button" class="btn btn-link" th:onclick="downloadClick('666',[[${data.recentChallans.paymentReceiptPath}]])">payment</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="pagination text-right" id="pageNav"></ul>
                </div>
            </div>
        </div>
        <p class="lead" th:if="${data != null}">&nbsp;
            <input id="totalPages" th:value="${data.getTotalPages()}" type="hidden"></input>
            <input id="p" th:value="${p}" type="hidden"></input>
        </p>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        var p = parseInt($("#p").val());
        var t = parseInt($("#totalPages").val());
        console.log(p, t);
        $('#pageNav').jqPaginator({
            totalPages: t,
            visiblePages: 10,
            currentPage: p,
            onPageChange: function (num, type) {
                if (type == 'change') {
                    location.href = "/ecr6ReturnFiling?p=" + num;
                }
                console.log(num, type)
                //location.href = "/txtpdf2pf4ecr?p=1";
            }
        });
    });

    function downloadClick(str, fileName) {
        if (fileName != null){
            if (str == '666') {
                window.open("/download?fileName=" + fileName);
            } else {
                location.href = '/download?fileName=' + fileName;
            }
        }
    }

</script>