<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="jquery.min.js"></script>
    <script src="jq-paginator.min.js"></script>
    <title>pf_index</title>
</head>
<body>
<div class="container">
    <p class="lead">
    <h3>ECR</h3></p>
    <hr/>
    <div class="row">
        <div class="col-md-2 sidebar-offcanvas">
            <ul class="list-group">
                <li class="list-group-item"><a href="/index">index</a></li>
                <li class="list-group-item"><a href="/e2txt">excel2txt</a></li>
                <li class="list-group-item"><a href="/e2pdf">excel2pdf</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <form action="/uploadPdfAndTxt" class="form-horizontal" enctype="multipart/form-data" method="post">

                    <table id="recentEcr" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>fileName</th>
                            <th>status</th>
                            <th>uploadDate</th>
                            <th>lookup</th>
                            <th>pdf/txt</th>
                            <th>upload</th>
                            <th>download</th>
                        </tr>
                        </thead>

                        <tbody id="tbody"></tbody>
                    </table>
             </form>

            <ul id="pageNav" class="pagination text-right"></ul>
        </div>
        <p class="lead">&nbsp;
        </p>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $.get("/getRecentList", function (data, status) {
            console.log(data, status, "getRecentList");
            var tbody = $("#tbody");
            for (var data of data.content) {
                var ecrStatementPath = data.ecrStatementPath.replace("_", "<br/>");
                var tr = tbody.append(`<tr>
                    <td>${data.id}</td>
                    <td>${ecrStatementPath}</td>
                    <td>${data.hasUploadFile}</td>
                    <td>${data.uploadDate}</td>
                    <td><a target="_blank" href="/upload/${data.ecrStatementPath}">pdf</a>
                    <a target="_blank" href="/upload/${data.ecrFilePath}">txt</a></td>
                    <td>PDF:<input placeholder="pdf" id="upload_pdf" accept=".pdf" name="file" type="file"></input><br/>
                        TXT:<input placeholder="txt" id="upload_txt" accept=".txt" name="file" type="file"></input></td>
                    <td><input class="btn btn-primary" type="button" onclick="uploadClick(${data.id})" value="upload"></input></td>
                    <td><input class="btn btn-success" type="button" onclick="downloadClick('123','${data.ecrStatementPath}')" value="download"></input></td>
                </tr`);
            }
        }, 'json');

        $('#pageNav').jqPaginator({
            totalPages: 100,
            visiblePages: 15,
            currentPage: 1,
            onPageChange: function (num, type) {
                //$('#text').html('当前第' + num + '页');
            }
        });


    });

    function uploadClick(id) {
        var upload_pdf = $("#upload_pdf")[0].files[0];
        var upload_txt = $("#upload_txt")[0].files[0];
        if (upload_pdf != '') {
            // 构建数据
            var fileData = new FormData();
            fileData.append('id', id);
            fileData.append('file', upload_pdf); // file 对象
            if (upload_txt != '') {
                fileData.append('file', upload_txt); // file 对象
            }
            $.ajax('/uploadPdfAndTxt', {
                method: 'POST',
                data: fileData,
                processData: false, // 默认 | 不处理数据
                contentType: false, // 默认 | 不设置内容类型
                success: function (res) {
                    console.log(res);
                    if (res == 'success') {
                        //$("#id").addClass("btn-success");
                        alert('upload success!!!');
                    }
                }
            })
        }
    }
    function downloadClick(str,fileName) {
        //location.href = '/download?fileName='+fileName;
        window.open('/download?fileName='+fileName);
        // $.ajax('/download', {
        //     method: 'POST',
        //     data: {fileName: fileName},
        //     success: function (res) {
        //         console.log(res);
        //         if (res == 'success') {
        //             //$("#id").addClass("btn-success");
        //             alert('download success!!!');
        //         }
        //     }
        // })
    }

</script>