<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <script src="jsoneditor/jsoneditor.min.js"></script>
    <script src="jquery.min.js"></script>
    <title>ECR_json</title>

</head>
<body>
<div class="container">
    <p class="lead">
    <h3>ECR</h3>
    </p>
    <hr/>
    <div class="row">
        <div class="col-md-10">
            <button id="translate" class="btn btn-default">Translate To HTML</button>
            <br/>
            <textarea id="json-input" th:text="${htmlData}" hidden></textarea><br/>

            <div id="jsoneditor" class="container-fluid"></div>
            <script>
                // create the editor
                const container = document.getElementById("jsoneditor")
                const options = {}
                const editor = new JSONEditor(container, options)
                // set json
                const initialJson = JSON.parse($('#json-input').val());
                editor.set(initialJson)

                $('#translate').on('click', function () {
                    // get json
                    const updatedJson = editor.get()
                    localStorage.clear();
                    localStorage.setItem("employeeJson", JSON.stringify(updatedJson));
                    localStorage.setItem("pdfName", document.getElementById("pdfName").value);
                    location.href = "pdf";
                });
            </script>
        </div>
    </div>
    <p class="lead">&nbsp;
        <input hidden id="pdfName" th:value = "${pdfName}" />
    </p>
</div>
</body>
</html>
<script type="text/javascript">
$(document).ready(function () {
    $("#translate").click();
});
</script>