<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="My97DatePicker/WdatePicker.js"></script>
    <script src="jquery.min.js"></script>
    <title>edit challans</title>
</head>
<body>
<div class="page-header">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"><h4>edit challans.</h4></div>
                <div class="panel-body">
                    <form action="/excel2json4Challans" class="form-horizontal" enctype="multipart/form-data"
                          id="excel2json4Challans"
                          method="post">

                        <div class="col-sm-4 alert alert-danger">
                            <label>#id</label>
                            <input th:value="${id}" id="id" class="form-control input-sm" max="9999999999" min="1"
                                   name="id" required
                                   type="number"></input>
                            <input th:value="${p}" name="p" required type="hidden"></input>
                        </div>

                        <div class="col-sm-4">
                            <label><span class="label label-warning">Warning</span> CAN Number</label>
                            <input class="form-control input-sm" id="canNumber" name="canNumber" type="text" th:value="${recentChallans.getCRN()}"></input>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="excel_upload_xls">Choose excel to upload</label>
                                <input accept=".xls,.xlsx" id="excel_upload_xls" name="file"
                                       type="file"></input></div>
                        </div>
                        <input class="btn btn-default" type="button" id="submitBut" value="Submit"></input>
                    </form>
                </div>
            </div>
        </div>
        <p class="lead">&nbsp;
        </p>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitBut").click(function(){
            var excel_upload_xls = $("#excel_upload_xls")[0].files[0];
            var canNumber = $("#canNumber").val();
            var id = $("#id").val();

            var fileData = new FormData();
            fileData.append('file', excel_upload_xls);
            fileData.append('canNumber', canNumber);
            fileData.append('id', id);

            $.ajax('/excel2json4Challans', {
                method: 'POST',
                data: fileData,
                processData: false, // 默认 | 不处理数据
                contentType: false, // 默认 | 不设置内容类型
                success: function (res) {
                    console.log(res);
                    if (res == 'success') {
                        window.close();
                    }
                }
            })
        });

    });
</script>